.idea
.DS_Store
__pycache__/
rag/api/deps/
rag/api/function.zip
function.zip
env/
.env
.ipynb_checkpoints/
rag.yaml
rag2.yaml
rag/container/
rag/docs/
rag/faiss_index/
rag/sagemaker.readthedocs.io/
rag/scripts/
opensearch.yml
